In [2]:
# LIST DEMONSTRATION

my_list = [10, 20, 20, 30]

print("Original List:", my_list)

# Mutable: change element
my_list[1] = 99
print("After modification:", my_list)

# Add element
my_list.append(40)
print("After append:", my_list)

# Duplicates allowed
my_list.append(40)
print("Duplicates allowed:", my_list)

Original List: [10, 20, 20, 30]
After modification: [10, 99, 20, 30]
After append: [10, 99, 20, 30, 40]
Duplicates allowed: [10, 99, 20, 30, 40, 40]

In [ ]:
##‚ùì Is Python List Implemented Using Linked List in C/C++?

#üëâ No.
#Python list is NOT a linked list.

#It is implemented in C, inside the official Python interpreter called:

#CPython

#And internally‚Ä¶

#‚úÖ Python list = Dynamic Array (NOT Linked List)

In [2]:
# TUPLE DEMONSTRATION

my_tuple = (10, 20, 20, 30)

print("Tuple:", my_tuple)

# Access allowed
print("Element at index 1:", my_tuple[1])

# Try to modify (will cause error)
# my_tuple[1] = 99   # ‚ùå TypeError

print("Duplicates allowed in tuple:", my_tuple)

Tuple: (10, 20, 20, 30)
Element at index 1: 20
Duplicates allowed in tuple: (10, 20, 20, 30)

In [3]:
# DICTIONARY DEMONSTRATION

my_dict = {
    "name": "Kashif",
    "age": 21,
    "age": 22  # duplicate key (overwritten)
}

print("Dictionary:", my_dict)

# Access value using key
print("Name:", my_dict["name"])

# Modify value
my_dict["age"] = 23
print("After modification:", my_dict)

# Add new key-value
my_dict["city"] = "Islamabad"
print("After adding new key:", my_dict)

Dictionary: {'name': 'Kashif', 'age': 22}
Name: Kashif
After modification: {'name': 'Kashif', 'age': 23}
After adding new key: {'name': 'Kashif', 'age': 23, 'city': 'Islamabad'}

In [4]:
# SET DEMONSTRATION

my_set = {10, 20, 20, 30, 40}

print("Set:", my_set)

# Add element
my_set.add(50)
print("After adding element:", my_set)

# Remove element
my_set.remove(20)
print("After removal:", my_set)

# Duplicate automatically removed
print("Unique elements only:", my_set)

Set: {40, 10, 20, 30}
After adding element: {40, 10, 50, 20, 30}
After removal: {40, 10, 50, 30}
Unique elements only: {40, 10, 50, 30}